
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link href="http://www.xiag.ch/files/css/testtask-styles.css?data=26.07.2012" rel="stylesheet">
    <title>XIAG test task</title>
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0" />
</head>
<body>
<div class="content">
    <header>URL shortener</header>
    <form id="send-url-form">
        <table>
            <tr>
                <th>Long URL</th>
                <th>Short URL</th>
            </tr>
            <tr>
                <td>
                    <input required type="url" name="url">
                    <input type="submit" value="Do!">
                </td>
                <td id=result></td>
            </tr>
        </table>
    </form>
    <footer>
            <pre></pre>
    </footer>
</div>
<script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous">
</script>
<script src="/js/app.js"></script>
</body>
</html>
